.address {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  flex-shrink: 0;
}
.icon-addres {
  display: flex;
  justify-content: center;
}
.addres-svg {
  height: 12px;
  width: 14px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tel {
  // display: flex;
  // justify-content: center;
}
.tel-svg {
  position: relative;
  height: 14px;
  width: 10px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-title {
  margin-right: 0;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--tilt-color);
  transition: 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-right: none;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover .tel-svg,
  &:focus .tel-svg {
    fill: var(--accent-color);
  }
  &:hover .addres-svg,
  &:focus .addres-svg {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .address {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 0px;
  }
  .logo {
    padding-top: 25px;
    padding-bottom: 26px;
  }
  .icon-addres {
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }
  .icon-tel {
    display: flex;
    justify-content: center;
  }
  .addres-svg {
    height: 12px;
    width: 16px;
  }

  .addres__container {
    margin-left: auto;
  }
  .tel-svg {
    height: 16px;
  }
  .addres-title {
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 1, 142px;
  }
}
