:root {
  --primary-text-color: #212112;
  --tilt-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --background-footer: #2f303a;
  --footer-nav: rgba(255, 255, 255, 60%);
  --icon-color: #afb1b8;
}
